<div class="services-color-container">
  <div class="services-container" id="services-intro">
    <div class="left-side" id=services-intro-js-change>
      <h1>Our services</h1>
      <h3>We take care of every aspect of developing your product, enabling you to focus on the growth, impact, and scaling of your organization.</h3>
    </div>
    <div class="right-side" id="services-intro-js">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Intro_bc9cfy.png" %>
    </div>
  </div>

  <div class="services-container" id="services-ux-ui">
    <div class="left-side">
      <h1>User Analysis & UX/UI Design</h1>
      <p>Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
      <p>From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
    </div>
  </div>

  <%# Services UX-UI swiper %>
  <div class="services-container swiper-container swiper-services-ux-ui" id="services-ux-ui-swiper">
    <div class="swiper-wrapper" id="services-ux-ui-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
        <h1>User Analysis & UX/UI Design</h1>
      </div>
      <div class="right-side swiper-slide">
        <p id="ux-ui-description">Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
        <p>From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-ux-ui"></div>
  </div>
  <%# ------------------------------------ %>

  <div class="test">
    <div class="relleno">
    <h1>relleno</h1>
    </div>
  </div>

  <div class="test">
  <div class="relleno">
      <h1>relleno</h1>

    </div>
  </div>

</div>
