<div class="services-color-container">
  <div class="services-container" id="services-intro">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1603483328/MangoLab.io%20-%20Website/Services_Page/122116060_356792462412472_915165978257958519_n_ggs3sw.png" %>
    </div>
    <div class="right-side" id="services-intro-js">
      <h1>Oops! This section still under construction. Come back later!</h1>
      <%= link_to home_index_path, class: "back-home-btn-change" do %>
        <span>HOME<%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %></span>
      <% end %>
    </div>
  </div>
</div>
