#webinars-desktop { display: none; }

.webinars-head { margin-bottom: 30px; }

#webinars-swiper { 
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .swiper-slide {
    width: 300px!important;
    pointer-events: none;
  }
}



