@media screen and (max-width: 1039px) {
  .services-container {
    width: 812px;
  }

  // Services intro section: 
  #services-intro .left-side {
    h1 { font-size: 55px; }
    h3 { font-size: 18px; }
  }

  #services-intro .right-side {
    img { width: 450px; }
  }

  // Services UX-UI section:
  #services-ux-ui .left-side {
    width: 420px;
    h1 { font-size: 28px; }
    p { font-size: 12px; }
  }
  
  #services-ux-ui .right-side {
    img { width: 350px; }
  }

  @media screen and (max-width: 812px) {
    .services-container {
      width: 654px;
    }
   
    // Services intro section:
    #services-intro {
      flex-direction: column-reverse;
      justify-content: center;
    }

    // Services UX-UI section:
    #services-ux-ui .left-side {
    width: 336px;
    h1 { font-size: 22px; }
    p { font-size: 11px; }
    }
  
    #services-ux-ui .right-side {
      img { width: 300px; }
    }
  }

  @media screen and (max-width: 654px) {
    .services-container {
      width: 530px;
    }

    // Services UX-UI section:
    #services-ux-ui {
      display: none;
    }

    #services-ux-ui-swiper {
      display: block;
      height: 696px;
      display: flex;
      flex-direction: column;
      // Into js change:
      background-color: white;
      // -----------------------
    }

    #services-ux-ui-swiper .left-side {
      // Into js change:
      color: $charcoal;
      // ---------------
      // width: 530px;
      img { width: 300px; }
      h1 { 
        font-family: "Montserrat", "sans-serif";
        font-size: 32px;
        font-weight: 600;
        width: 354px;
        text-align: center;
        margin-top: 80px;
      }
    }

    #services-ux-ui-swiper .right-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-family: "Lato";
        font-size: 14px;
        width: 530px;
      }
    }
    
    #ux-ui-description { position: relative; }

    #ux-ui-description:after {
      content: "";
      left: 0;
      top: -4px;
      width: 29px;
      position: absolute;
      border-bottom: 4px solid;
      border-image: linear-gradient(to right, $green, $orange) 1;
    }

    .swiper-pagination-services-ux-ui {
      margin-bottom: 93px;
      .swiper-pagination-bullet {
        // Into js change:
        background: $charcoal;
        // --------------------
        margin: 0 5px!important;
      }
    }

    #services-ux-ui-wrapper .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 530px) {
    .services-container {
      width: 420px;
    }

    // Services intro section:
    #services-into { height: 796px; }
    #services-intro .left-side {
      width: 420px;
      h1 { font-size: 40px; }
      h3 { font-size: 16px; }
    }

    #services-intro .right-side {
      img { width: 300px; }
    }
    
     // Services UX-UI section:
     #services-ux-ui-swiper .right-side {
       p { width: 420px; }
     }
  }

  @media screen and (max-width: 420px) {
    .services-container {
      width: 364px;
    }

    // Services intro section:
    #services-intro .left-side {
      width: 364px;
    }
    
    // Services UX-UI section:
    #services-ux-ui-swiper .right-side {
      p { width: 364px; }
    }
  }
}