@media screen and (max-width: 1039px) {
  .home-container {
    width: 812px;
  }
  
  #intro { 
    height: 760px;
    align-items: flex-start;
    position: relative;
  }

  #intro .intro-icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    img { width: 350px; }
  }
  
  #intro .left-side {
    width: 358px;
    margin-top: 180px;
  }

  #intro .right-side {
    display: none;
  }


  // ---------------------

  // About it section:
  #about-it {
    height: 360px;
    justify-content: center;
  }
  #about-it .left-side {
    width: 338px;
    height: 290px;
    margin-left: 14px;
    // position: relative;
    // .swiper-wrapper {
    //   height: 160px;
    // }
  }

  #about-it-mangobar {
    width: 4px;
    height: 120px;
    left: 230px;
  }

  #about-it .swiper-slide {
    width: 338px!important;
  }
 
  .about {
    h1 {
      font-size: 20px;
    }
  }
  
  .swiper-pagination-about-it { 
    display: block;
    .swiper-pagination-bullet {
      background-color : $bone;
      margin: 0 5px; 
      width: 7.5px;
      height: 7.5px;
    }
    .swiper-pagination-bullet-active {
      width: 11px;
      height: 11px;
    }
  }

  #about-it .right-side { display: none;  }
  

  // About us section:

  #about-us .left-side {
    width: 412px;
    .ceo, .cto {
      width: 100%;
    }
    .details {
      align-items: center;
      img {
        width: 70px;
      }
      .name {
        font-size: 12px;
      }
      .role {
        font-size: 10px;
      }
    }
    p {
      font-size: 12px;
      width: 266px;
    }
  }

  #about-us .right-side {
    img {
      width: 300px;
    }
  }

  // Services Section:

  #services .left-side {
    img {
      width: 400px;
    }
  }
  
  // Home Steps:

  #home-step {
    font-size: 14px;
  }

  #home-step:after {
    width: 30px;
  }

  #home-title {
    font-size: 30px;
  }

  #home-description {
    font-size: 12px;
  }
  
  // Process section:
  #process .right-side {
    img {
      width: 400px;
    }
  }

  // Verticals section:
  #verticals .left-side {
    img {
      width: 400px;
    }
  }

  // MVP section:
  #next-mvp {
    width: 812px;  
    .mvp-icon { top: 176px; }
    h1, #timer { font-size: 40px; }
    .timer-text {
      h3 {
        font-size: 14px;
      }
    }
    #day { left: 7.5%; }
    #hours { left: 32%; }
    #minute { right: 29%; }
    #second { right: 3.5%; }
    .counter-text { font-size: 20px; } 
  }

  @media screen and (max-width: 812px) {
    .home-container {
      width: 654px;
    }
    
    #intro .intro-icon {
      img { width: 300px; }
    }
    
    // About us section:

    #about-us .right-side {
      display: none;
    }

    #about-us .left-side {
      width: 100%;
      .ceo, .cto {
        display: flex;
        justify-content: space-evenly;
      }
      .details{
        width: 104px;
      }
      p {
        width: 505px;
      }
    }
    
    // Services Section:
    
    #services {
      flex-direction: column;
      justify-content: center;
    }
    
    // Process Section:
    #process {
      flex-direction: column-reverse;
      justify-content: center;
    }

    #process .right-side {
      width: 400px;
      padding: 0;
    }

    #process .left-side {
      padding: 0;
    }

    // Verticals section:
    #verticals {
      flex-direction: column;
      justify-content: center;
    }

    // MVP Section:
    #next-mvp { width: 654px; }
    .mvp-icon {
      display: none;
    }
  }

  @media screen and (max-width: 654px) {
    .home-container {
      width: 530px;
    }

    // About us carousel
      
    #about-us {
      height: 696px;
      flex-direction: column;
      justify-content: center;
    }

    #about-us .left-side {
      // margin-top: 103px;
      .ceo, .cto {
        flex-direction: column;
        align-items: center;
        height: 500px;
        margin: 0;
      }
      .details{
        margin-bottom: 38px;
        img {
          width: 80px;
        }
        .name {
          font-size: 14px;
        }
        .role {
          font-size: 12px;
        }
      }
      .about-details {
        margin: 0;
        text-align: center;
        width: 100%;
        align-items: center;
      }
      p {
        font-size: 14px;
      } 
    }
    #about-us-js-change {
      display: none!important;
    }

    #swiper-about {
      display: block!important;
    }

    .swiper-pagination {
      display: block;
      position: static;
      .swiper-pagination-bullet {
        background-color: $bone;
        width: 11px;
        height: 11px;
        margin: 0 5px;
      }
      .swiper-pagination-bullet-active {
        width: 15px;
        height: 15px;
      }
    }
    // ----------------------

    // Services Section:
    #services .right-side {
      p {
        display: none;
      }
    }

    // Process Section:
    #process .left-side {
      p {
        display: none;
      }
    }

    // Verticals Section:
    #verticals .right-side {
      width: 530px;
      p {
        display: none;
      }
    }

    // MVP Section:
    #next-mvp { 
      width: 530px; 
      h1, #timer { font-size: 34px; }
      .timer-text {
        h3 {
          font-size: 12px;
        }
      }
      #day { left: 8.5%; }
      #hours { left: 32.5%; }
      #minute { right: 30%; }
      #second { right: 5%; }
      .counter-text { font-size: 18px; }
    }
  }
  
  // SmartPhone Sizes:
  @media screen and (max-width: 530px) {
    .home-container {
      width: 420px;
    }

    #intro .left-side {
      h3{
        font-size: 20px;
      }
      h1{
        font-size: 40px;
      }
    }
    
    #intro .intro-icon {
      bottom: 80px;
      img { width: 200px; }
    }

    // About swiper:
    #about-us { height: 696px; }
    #swiper-about {
      .about-details {
        p {
          width: 420px;
        }
      }
    }
    // ---------------

    // Services Section:
    #services { height: 696px; }
    #services .right-side {
      width: 420px;
    }
    
    // Process Section:
    #process { height: 696px; }
    #process .left-side {
      width: 420px;
    }
  
    // Home Steps:
      #home-step {
        font-size: 16px;
      }

    #home-step:after {
      width: 35px;
    }

    #home-title {
      font-size: 32px;
    }

    // Verticals Section:
    #verticals { height: 696px; }
    #verticals .right-side {
      width: 420px;
    }

    // MVP Section:
    #next-mvp { 
      height: 696px;
      width: 420px; 
      .mvp-icon {
        display: block;
        top: 546px;
        img {
          width: 100px;
        }
      }
      h1, #timer { font-size: 36px; text-align: center; }
      .counter h1 { margin-bottom: 52px; }
      .timer-text {
        margin-bottom: 42px;
        h3 {
          font-size: 14px;
        }
      }
      #day { left: 7.5%; }
      #hours { left: 32%; }
      #minute { right: 29%; }
      #second { right: 3.5%; }
      .counter-text { font-size: 18px; }
    }
  }

  @media screen and (max-width: 420px) {
    .home-container {
      width: 364px;
    }

    // About swiper:
    #swiper-about {
      .about-details {
        p {
          width: 364px;
        }
      }
    }
    // ---------------
    
    // Services Section:
    #services .right-side {
      width: 364px;
    }

    // Process Section:
    #process .left-side {
      width: 364px;
    }
    
    // Verticals section:
    #verticals .right-side {
      width: 364px;
    }

    // MVP Section:
    #next-mvp { width: 364px; }
  }
}