.color-container {
  width: 100%;
  transition: background-color 1.5s;
}

.verticals-container {
  width: 100%;
  transition: background-color 1.5s;
}

.home-container {
  width: 1040px;
  margin: 0 auto;
  height: 826px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro {
  font-family: "Montserrat", "sans-serif";
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    padding-right: 62px;
    margin-bottom: 15px;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

// About us section:

#about-us .left-side {
  color: $charcoal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .ceo, .cto {
    display: flex;
    width: 508px;
    height: 292px;
    transition: background-color 1.5s;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
      width: 80px;
      margin-bottom: 10px;
    }
    .name {
      font-family: "Montserrat", "sans-serif";
      font-size: 14px;
    }
    .role {
      font-family: "Lato";
      font-weight: 550;
      font-size: 12px;
    }
  }
  p {
    font-family: "Lato";
    // font-weight: 550;
    font-size: 14px;
  }
  .about-details {
    font-family: "Lato";
    font-weight: 550;
    letter-spacing: 0.05rem;
    margin-left: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#about-us .right-side {
  margin-right: 44px;
  img {
    margin-bottom: 56px;
  }
}

// About us carousel

#swiper-about {
  display: none!important;
}

.swiper-pagination-about {
  display: none;
}
// --------------------

// Home steps:

#home-step {
  font-family: "Montserrat", "sans-serif";
  font-size: 16px;
  font-weight: 650;
  position: relative;
  margin-bottom: 15px;
}

#home-step:after {
  content: "";
  left: 0;
  bottom: -4px;
  width: 35px;
  position: absolute;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, $green, $orange) 1;
}

#home-title {
  font-size: 32px;
  font-weight: 600;
  padding-right: 70px;
  margin-bottom: 37px;
}

#home-description {
  font-family: "Lato";
  font-size: 14px;
  padding-right: 38px;
  margin-bottom: 40px;
}

// ------------------


// Services section:

#services {
  height: 700px;
  .right-side {
    width: 520px;
  }
}


//-----------------------------

// Main container section (fixed color section):

.process-container {
  background-color: white;
  width: 100%;
}

#process {
  height: 700px;
  .left-side {
    width: 519px;
    padding-right: 22px;
  }
  .right-side {
    width: 517px;
    padding-right: 25px;
  }
}

// Next MVP section:

.mvp-container {
  width: 100%;
  background-color: black;
}

#next-mvp {
  width: 1040px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $bone;
  position: relative;
}

.mvp-icon {
  position: absolute;
  left: 0;
  top: 171px;
}

.counter {
  // text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
  font-family: "Montserrat", "sans-serif";
  h1 {
    margin-bottom: 82px;
    font-size: 48px;
    font-weight: 600;
  }

  #timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    text-align: center;
    margin-bottom: 28px;
    font-size: 48px;
    font-weight: 500;
    div {
      margin: 0 10px;
      width: 65px;
    }
  }

  .timer-text {
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
    position: relative;
    h3 {
      // margin: 0 48px;
      font-size: 16px;
      font-weight: 500;
      color: $charcoal;
    }
    
    #day, #hour, #minute, #second {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    #day {
      left: 6%;
    }
    #hour {
      left: 30%;
    }
    #minute {
      right: 28%;
    }
    #second{
      right: 2%;
    }
  }
  .counter-text {
    font-size: 22px;
    font-weight: 600;
  }
}