.main-container {
  width: 100%;
}

.home-intro, .home-services {
  background-color: white;
}

.home-container {
  width: 1040px;
  margin: 0 auto;
  height: 826px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro {
  font-family: "Montserrat", "sans-serif";
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    padding-right: 62px;
    margin-bottom: 15px;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

// Buttons:

.lets-talk-btn {
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    z-index: -1;
    margin-left: 16px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 25px;
  }
}

.lets-talk-btn:hover .chevron-right {
  transform: rotate(90deg);
}


// About us section:

.home-about-us {
  background-color: black;
}

#about-us .left-side {
  color: $bone;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .ceo, .cto {
    display: flex;
  }
  .details {
    text-align: center;
    img {
      width: 80px;
    }
    .name {
      font-family: "Montserrat", "sans-serif";
      // font-weight: 650;
      font-size: 14px;
    }
    .role {
      font-family: "Lato";
      font-weight: 550;
      font-size: 12px;
    }
  }
  p {
    font-family: "Lato";
    font-weight: 550;
    font-size: 14px;
  }
}