.services-color-container {
  width: 100%;
  transition: background-color 1.5s;
}

.services-container {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Services intro section:
#services-intro {
  height: 826px;
  .left-side {
    font-family: "Montserrat", "sans-serif";
    width: 520px;
    h1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 35px;
    }
    h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
// --------------------------

// Common Sections:
.left-side-head {
  margin-bottom: 38px;
}

.services-title {
  font-family: "Montserrat", "sans-serif";
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}

.services-title-mangobar {
  width: 60px;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, $green, $orange);
}

.services-description {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.01em;
  margin-bottom: 40px;
}

.services-page-btn {
  display: flex;
  justify-content: center;
  align-content: center;
}

.services-right-title {
  font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  font-weight: 600;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}

.swiper-services {
  width: 206px;
  svg { 
    width: 50px;
    height: 50px; 
    margin-top: 6px;
  }
  .swiper-pagination-services {
    position: static;
    margin-top: 45px;
    .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      margin: 0 5px;
      background-color: $bone;
    }
    .swiper-pagination-bullet-active {
      width: 11px;
      height: 11px;
    }
  }
}

.services-type-slide {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 1px;
}

.services-type-mangobar {
  width: 4px;
  height: 62.76px;
  border-radius: 5px;
  background: linear-gradient(to top, $green, $orange);
  margin-left: 16px;
  margin-right: 16px;
}

.services-icon-description {
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 18px;
  width: 120px;
  text-align: left;
}


// Web Development and Mobile Application Section:
#web-dev-mob-app {
  height: 1350px;
  flex-direction: column;
  justify-content: center;
  .top-side, .middle-side, .bottom-side { 
    width: 100%; 
    display: flex;
    align-content: center;
  }
  .top-side, .bottom-side { 
    justify-content: space-between;
  }
  .middle-side { 
    margin: 100px 0;
    justify-content: center; 
  }
}

#web-dev-mob-app .top-side, #web-dev-mob-app .bottom-side {
  .left-side, .right-side { width: 50%; }
}

#web-dev-mob-app .top-side, #web-dev-mob-app .bottom-side{
  .right-side {
    text-align: center;
  }
}

// Product Design and Analytics ans SEO section:
#prod-design-ana-seo {
  height: 1350px;
  flex-direction: column;
  justify-content: center;
  .top-side, .middle-side, .bottom-side { 
    width: 100%; 
    display: flex;
    align-content: center;
  }
  .top-side, .bottom-side { 
    justify-content: space-between;
  }
  .middle-side { 
    margin: 100px 0;
    justify-content: center; 
  }
}

#prod-design-ana-seo .top-side, #prod-design-ana-seo .bottom-side {
  .left-side, .right-side { width: 50%; }
}

#prod-design-ana-seo .top-side, #prod-design-ana-seo .bottom-side{
  .right-side {
    text-align: center;
  }
}

// API Development section:
#api-development {
  height: 1000px;
  flex-direction: column;
  justify-content: center;
  .top-side, .bottom-side { 
    width: 100%; 
    display: flex;
    align-content: center;
  }
  .bottom-side { justify-content: center; }
  .top-side { 
    margin-bottom: 100px;
    justify-content: space-around; 
  }
}

#api-development .top-side {
  .left-side, .right-side { width: 50%; }
}

#api-development .top-side {
  .right-side {
    text-align: center;
  }
}


// // Services Tools section:
// .services-tools-container {
//   width: 100%;
//   height: 700px;
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// #swiper-pagination-tools {
//   bottom: 52px;
//   span { 
//     background: $charcoal;
//     margin: 0 5px!important;
//     width: 7px; 
//     height: 7px;
//   }
//   .swiper-pagination-bullet-active { 
//     width: 11px; height: 11px;
//   }
// }

// #services-tools { 
//   width: 1040px;
//   height: 100%;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// #services-tools-title { 
//   font-family: "Montserrat", "sans-serif";
//   font-size: 60px;
//   font-weight: 600;
//   margin-top: 99px;
//   margin-bottom: 73px;
// }

// #services-tools-wrapper .swiper-slide {
//   width: 300px!important;
//   height: 336px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   .tool {
//     width: 280px;
//     height: 316px;
//     padding: 29px 32px;
//     box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
//     border-radius: 12px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     img { width: 180px; }
//   }
// }

// #tool-title {
//   font-family: "Montserrat", "sans-serif";
//   font-size: 22px;
//   font-weight: bold;
//   margin-bottom: 28px;
// }

// #tool-description {
//   font-family: "Lato";
//   font-size: 12px;
//   letter-spacing: 0.03em;
//   text-align: center;
//   font-weight: 500;
//   line-height: 15px;
// }



// Services Let's talk section:
.services-lets-talk-container {
  width: 100%;
  height: 700px;
  transition: background-color 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services-lets-talk {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lets-talk-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.lets-talk-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Montserrat", "sans-serif";
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    line-height: 44px;
  }
  p {
    font-family: "Lato";
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    width: 920px;
    margin-top: 43px;
    margin-bottom: 53px;
    line-height: 23px;
  }
}