.services-color-container {
  width: 100%;
  transition: background-color 1.5s;
  // Into the js changes:
  background-color: black;
  // -----------------------
}

.services-container {
  width: 1040px;
  margin: 0 auto;
  height: 826px;
  display: flex;
  justify-self: space-between;
  align-items: center;
}

//Services intro section:
#services-intro {
  .left-side {
    // Into the js change:
    color: $bone;
    //-------------------
    font-family: "Montserrat", "sans-serif";
    width: 520px;
    h1 {
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 43px;
    }
    h3 {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

// Services UX/UI section:
#services-ux-ui {
  height: 700px;
  display: flex;
  justify-content: space-between;
  // Into js change:
  background-color: white;
  // ------------------------
}

#services-ux-ui .left-side {
  // Into js change:
  color: $charcoal;
  // ----------------
  width: 520px;
  h1 { 
    font-family: "Montserrat", "sans-serif";
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  p {
    font-family: "Lato";
    font-size: 14px;
    letter-spacing: 0.05rem;
  }
}

#services-ux-ui-swiper {
  display: none;
}
