.services-container {
  width: 654px;
}


// Services common sections:

// --------------------------

// Web Development and Mobile Application Section:
#web-dev-mob-app, #prod-design-ana-seo {
  height: 1650px;
}

// // Services tools section: 
//   #services-tools-title { font-size: 52px; }

// Services lets talk section:
#services-lets-talk {
  width: 654px;
}

