.services-container {
  width: 364px;
}

// Services common section:
.swiper-services-description { width: 364px; }
// ----------------------------------

#web-dev-mob-app .bottom-side, #web-dev-mob-app .top-side {
  .right-side {
    h2 { width: 100%; }
  }
}

#prod-design-ana-seo .bottom-side, #prod-design-ana-seo .top-side {
  .right-side {
    h2 { width: 100%; }
  }
}

#api-development .top-side {
  .right-side {
    h2 { width: 100%; }
  }
}

// Services lets talk section:
  #services-lets-talk {
  width: 364px;
}

.lets-talk-body {
  p { width: 364px; }
}