.services-container {
  width: 420px;
}

// Services intro section:
#services-intro .left-side {
  width: 100%;
  h1 { font-size: 40px; }
  h3 { font-size: 16px; }
}

#services-intro .right-side {
  img { width: 350px; }
}
// ----------------------------


// Services common section:
// -------------------------------

// Web Development and Mobile Application Section:
#web-dev-mob-app, #prod-design-ana-seo {
  .middle-side {
    img { width: 300px; }
    margin-bottom: 100px;
  }
}

#api-development .bottom-side {
  img { width: 300px; }
}

// // Services tools section:
// #services-tools-title { font-size: 36px; }

// Services lets talk section:
.services-lets-talk-container { height: 696px; }
#services-lets-talk {
  width: 420px;
}

.lets-talk-icon {
  img { width: 100px; }
  bottom: 77px;
}

.lets-talk-body {
  h1 { 
    margin-bottom: 36px;
    font-size: 28px; 
  }
  p {
    margin-top: 0;
    margin-bottom: 33px;
  }
}