.services-container {
  width: 364px;
}

// Services common section:
.swiper-services-description { width: 364px; }
// ----------------------------------

// Services lets talk section:
  #services-lets-talk {
  width: 364px;
}

.lets-talk-body {
  p { width: 364px; }
}