.home-container {
      width: 364px;
    }
    // -------------------

    // About it section:
    #about-it-mangobar { left: 55px; }

    // ---------------------
    
    // IT Services section: 
    #services .top-side {
      width: 364px;
    }

    // About-us swiper:
    .about-us-container #about-us { width: 364px; }

    #about-us .about-us-body {
      .left-side {
        height: 480px;
      }
    }
    // ---------------


    // Process Section:
    #process .left-side {
      width: 100%;
    }
    
    #process .right-side {
      width: 100%;
      text-align: center;
      img { width: 350px;  }
    }
    
    // Verticals section:
    #verticals .right-side {
      width: 100%;
    }

    #verticals .left-side {
      width: 100%;
      text-align: center;
      img { width: 350px; }
    }
    // MVP Section:
    #next-mvp { width: 364px; }
    .counter { 
      width: 100%;
      #timer, .timer-text { width: 364px; }
    }