.home-container {
  width: 420px;
}

#intro .left-side {
  h3{
    font-size: 20px;
  }
  h1{
    font-size: 40px;
  }
}

#intro .intro-icon {
  bottom: 80px;
  img { width: 200px; }
}
// -----------------

// About it section:
#about-it .left-side {
  width: 240px;
  margin-left: 15px;
}

#about-it .swiper-slide {
  width: 240px!important;
}

#about-it-mangobar { left: 83px; }

.swiper-about-it .swiper-pagination-about-it { left: -15px; }
// ---------------------

// IT Services section:
#services { height: 1146px; }

#services .top-side {
  width: 420px;
  .left-side, .right-side{
    width: 100%; 
  }
}
#services .top-side .left-side { 
  text-align: center; 
  margin-bottom: 20px;
}
#services .top-side .left-side img {
  margin-right: 0;
  width: 350px;
}

#services .right-side {
  h1 {
    margin-bottom: 28px;
  }
  p {
    margin-bottom: 32px;
  }
}
// ----------------------

// Process & Industries section:
#home-title-v2 { 
  text-align: center; 
  margin-bottom: 12px;
}

#process .right-side {
  text-align: center;
  margin-bottom: 12px;
  img { width: 350px; }
}

#industries {
  justify-content: flex-start;
}

#industries .left-side {
  text-align: center;
  margin-bottom: 12px;
  img { width: 350px; }
}
// ----------------------



// About swiper:
.about-us-container #about-us { width: 420px; }

.about-us-head { margin-bottom: 60px; }

#about-us .about-us-body {
  .left-side {
    height: 470px;
  }
}
// ---------------


// MVP Section:
#next-mvp { 
  width: 420px; 
  .mvp-icon {
    img {
      width: 100px;
    }
  }
  h1, #timer { font-size: 36px; text-align: center; }
  .counter h1 { margin-bottom: 52px; }
  .timer-text {
    margin-bottom: 42px;
    h3 {
      font-size: 14px;
    }
  }
  #day { left: 7.5%; }
  #hours { left: 32%; }
  #minute { right: 29%; }
  #second { right: 3.5%; }
  .counter-text { font-size: 18px; }
}