.home-container {
  width: 654px;
}

#intro .intro-icon {
  img { width: 300px; }
}
// --------------------

// About it section:
#about-it-mangobar {
  left: 151px;
}
// -----------------

// IT Services Section:
// ---------------------


// Process & Industries section:
// --------------------

// About us section:
.about-us-container #about-us { width: 654px; }

#about-us .about-us-body {
  .left-side {
    height: 420px;
  }
}
// ------------------------------


// MVP Section:
#next-mvp { width: 654px; }
// ---------------------