.home-container {
      width: 364px;
    }
    // -------------------

    // About it section:
    #about-it-mangobar { left: 55px; }

    // ---------------------

    // About swiper:
    #swiper-about {
      .about-details {
        p {
          width: 364px;
        }
      }
    }
    // ---------------
    
    // Services Section:
    #services .right-side {
      width: 364px;
    }

    // Process Section:
    #process .left-side {
      width: 364px;
    }
    
    // Verticals section:
    #verticals .right-side {
      width: 364px;
    }

    // MVP Section:
    #next-mvp { width: 364px; }