<footer class="black-footer">
  <div class="border-top-footer">
    <div class="footer-container">
      <span>© 2020 MangoLab, Inc. All rights reserved</span>
      <div class="networking">
        <%= link_to "mailto:info@mangolab.io" do %>
          <svg id="mail" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="mail-icon" d="M17.6262 0H2.37383C1.06491 0 0 1.02267 0 2.27967V12.9108C0 14.1678 1.06491 15.1905 2.37383 15.1905H17.6262C18.9351 15.1905 20 14.1678 20 12.9108V2.27967C20 1.02267 18.9351 0 17.6262 0ZM17.6262 13.1779H2.37383C2.18143 13.1779 2.01268 13.0531 2.01268 12.9108V3.68547L8.91094 9.50934C9.05236 9.62878 9.2322 9.69452 9.41738 9.69452L10.5824 9.69457C10.7675 9.69457 10.9474 9.62878 11.0889 9.50934L17.9875 3.68526V12.9109C17.9874 13.0531 17.8186 13.1779 17.6262 13.1779ZM10 7.69618L3.29062 2.01258H16.7094L10 7.69618Z" fill="#F0F0F0"/>
          </svg>
        <% end %>
        <%= link_to "https://www.linkedin.com/company/mango-lab/", target: :_blank, rel: "noreferrer" do %>
          <svg id="linkedin" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="linkedin-icon" d="M18.1908 0H1.80916C0.81 0 0 0.81 0 1.80916V18.1908C0 19.19 0.81 20 1.80916 20H18.1908C19.19 20 20 19.19 20 18.1908V1.80916C20 0.81 19.19 0 18.1908 0ZM6.18885 17.2693C6.18885 17.5601 5.95314 17.7958 5.66236 17.7958H3.4212C3.13042 17.7958 2.89471 17.5601 2.89471 17.2693V7.8745C2.89471 7.58372 3.13042 7.34801 3.4212 7.34801H5.66236C5.95314 7.34801 6.18885 7.58372 6.18885 7.8745V17.2693ZM4.54178 6.46241C3.36592 6.46241 2.41267 5.50916 2.41267 4.3333C2.41267 3.15743 3.36592 2.20419 4.54178 2.20419C5.71764 2.20419 6.67089 3.15743 6.67089 4.3333C6.67089 5.50916 5.7177 6.46241 4.54178 6.46241ZM17.901 17.3117C17.901 17.5791 17.6843 17.7958 17.417 17.7958H15.012C14.7447 17.7958 14.528 17.5791 14.528 17.3117V12.905C14.528 12.2476 14.7208 10.0243 12.81 10.0243C11.3279 10.0243 11.0272 11.5461 10.9669 12.2291V17.3117C10.9669 17.5791 10.7502 17.7958 10.4828 17.7958H8.15681C7.88948 17.7958 7.67272 17.5791 7.67272 17.3117V7.83209C7.67272 7.56476 7.88948 7.34801 8.15681 7.34801H10.4828C10.7501 7.34801 10.9669 7.56476 10.9669 7.83209V8.65173C11.5164 7.82696 12.3332 7.19037 14.0722 7.19037C17.9231 7.19037 17.901 10.7881 17.901 12.7648V17.3117Z" fill="#F0F0F0"/>
          </svg>
        <% end %>
        <%= link_to "https://www.instagram.com/mangolab.io/", target: :_blank, rel: "noreferrer" do %>
          <svg id="instagram" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="insta-icon" d="M14.0419 0H5.95811C2.67279 0 0 2.67279 0 5.95811V14.0419C0 17.3272 2.67279 20 5.95811 20H14.0419C17.3272 20 20 17.3272 20 14.0419V5.95811C20 2.67279 17.3272 0 14.0419 0ZM17.988 14.0419C17.988 16.2213 16.2213 17.988 14.0419 17.988H5.95811C3.77875 17.988 2.012 16.2213 2.012 14.0419V5.95811C2.012 3.77871 3.77875 2.012 5.95811 2.012H14.0419C16.2213 2.012 17.988 3.77871 17.988 5.95811V14.0419Z" fill="#F0F0F0"/>
            <path id="insta-icon" d="M9.99998 4.82715C7.14774 4.82715 4.82727 7.14762 4.82727 9.99982C4.82727 12.852 7.14774 15.1725 9.99998 15.1725C12.8522 15.1725 15.1727 12.8521 15.1727 9.99982C15.1727 7.14759 12.8522 4.82715 9.99998 4.82715ZM9.99998 13.1606C8.25435 13.1606 6.83927 11.7455 6.83927 9.99986C6.83927 8.25423 8.25439 6.83915 9.99998 6.83915C11.7456 6.83915 13.1607 8.25423 13.1607 9.99986C13.1607 11.7455 11.7456 13.1606 9.99998 13.1606Z" fill="#F0F0F0"/>
            <path id="insta-icon" d="M15.1827 6.10544C15.8673 6.10544 16.4222 5.55051 16.4222 4.86596C16.4222 4.1814 15.8673 3.62646 15.1827 3.62646C14.4982 3.62646 13.9432 4.1814 13.9432 4.86596C13.9432 5.55051 14.4982 6.10544 15.1827 6.10544Z" fill="#F0F0F0"/>
          </svg>
        <% end %>
        <%= link_to "https://www.facebook.com/MangoLabio-Software-Development-106132894578267", target: :_blank, rel: "noreferrer" do %>
          <svg id="facebook" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="face-icon" d="M17.3049 0H2.69506C1.20665 0 0 1.2066 0 2.69506V17.305C0 18.7934 1.2066 20.0001 2.69506 20.0001H9.90056L9.91284 12.8531H8.05607C7.81477 12.8531 7.61892 12.658 7.61799 12.4167L7.60909 10.1129C7.60816 9.87032 7.80459 9.67315 8.04721 9.67315H9.90061V7.44714C9.90061 4.86388 11.4783 3.45727 13.7827 3.45727H15.6737C15.9157 3.45727 16.1118 3.65341 16.1118 3.8954V5.83793C16.1118 6.07982 15.9158 6.27592 15.674 6.27606L14.5135 6.2766C13.2603 6.2766 13.0176 6.87212 13.0176 7.74608V9.6732H15.7714C16.0338 9.6732 16.2373 9.90232 16.2064 10.1629L15.9334 12.4667C15.9072 12.6871 15.7203 12.8532 15.4983 12.8532H13.0299L13.0176 20.0001H17.305C18.7934 20.0001 20 18.7935 20 17.3051V2.69506C20 1.2066 18.7934 0 17.3049 0Z" fill="#F0F0F0"/>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</footer>