<div class="main-container">

  <div class="home-container" id="intro">
    <div class="left-side">
      <h3>We are MangoLab.io</h3>
      <h1>Software development focused on your success<br>(Coming soon)</h1>
      <%= link_to "#", class: "lets-talk-btn" do %>
        <span>
          LET'S TALK 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601953609/MangoLab.io%20-%20Website/Home_Page/HomePage_Intro_a4p99k.png" %>
    </div>
  </div>
</div>

<%
=begin %>

  <div class="home-container" id="about-us">
  <div class="left-side">
    </div>
    <div class="right-side">
    </div>
  </div>

  <div class="home-container" id="services">
  <div class="left-side">
    </div>
    <div class="right-side">
    </div>
  </div>

  <div class="home-container" id="process">
  <div class="left-side">
    </div>
    <div class="right-side">
    </div>
  </div>

  <div class="home-container" id="verticals">
  <div class="left-side">
    </div>
    <div class="right-side">
    </div>
  </div>

  <div id="goals">
  </div>

  <div id="next-mvp">
  </div>







<%
=end %>


