<% content_for :process do %>
  <title>Discover our process | MangoLab.io</title>
  <meta name="description" property="description" content="Discover our development process to create, develop and deploy IT products & services for your business.">
  <meta name="keywords" content="website development, mobile application, product design, seo, analytics, api development, development process">
  <meta name="og:title" property="og:title" content="Discover our process | MangoLab.io">
  <meta name="og:description" property="og:description" content="Discover our development process to create, develop and deploy IT products & services for your business.">
  <meta property="og:image" content="https://res.cloudinary.com/mangolab-io/image/upload/v1605212901/MangoLab.io%20-%20Website/Home_Page/PNG/HomePage_jh5q9g.png" />
  <meta name="og:url" property="og:url" content="https://www.mangolab.io/process">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="noindex, nofollow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://www.mangolab.io/process">
<% end %>

<div class="services-color-container">
  <div class="services-container" id="construction-intro">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1603483328/MangoLab.io%20-%20Website/Services_Page/PNG/122116060_356792462412472_915165978257958519_n_ggs3sw.png", alt: "Under construction" %>
    </div>
    <div class="right-side" id="construction-intro-js">
      <h1>Oops! This section still under construction. Come back later!</h1>
      <%= link_to home_index_path, class: "back-home-btn-change" do %>
        <span>HOME<%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right", alt: "mango chevron" %></span>
      <% end %>
    </div>
  </div>
</div>
