<div class="services-color-container">
  <div class="services-container" id="construction-intro">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604077894/MangoLab.io%20-%20Website/Services_Page/WebP/construction_m9id6c.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604077894/MangoLab.io%20-%20Website/Services_Page/WebP/construction_m9id6c.webp" }, alt: "Under construction" %>
    </div>
    <div class="right-side" id="construction-intro-js">
      <h1>Oops! This section still under construction. Come back later!</h1>
      <%= link_to home_index_path, class: "back-home-btn-change" do %>
        <span>HOME<%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %></span>
      <% end %>
    </div>
  </div>
</div>
