// Home Buttons:

// 1- Lets talk:

.lets-talk-btn {
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 16px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 25px;
  }
}

.lets-talk-btn:hover .chevron-right {
  transform: rotate(90deg);
}

.lets-talk-btn-change {
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $bone;

  border-radius: 12px;
  border: 3px solid transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at left, $green, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;   
 
  &:hover {
    color: $bone;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 16px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 25px;
  }
}

.lets-talk-btn-change:hover .chevron-right {
  transform: rotate(90deg);
}

// 2- View our process:

.view-our-process-btn {
  font-family: "Montserrat", "sans-serif";
  width: 280px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 221px;
    margin-right: 25px;
  }
  .chevron-right {
    margin-left: 36px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.view-our-process-btn:hover .chevron-right {
  transform: rotate(90deg);
}

.view-our-process-btn-change {
  font-family: "Montserrat", "sans-serif";
  width: 280px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $bone;

   border-radius: 12px;
  border: 3px solid transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at left, $green, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;   

  &:hover {
    color: $bone;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 221px;
    margin-right: 25px;
  }
  .chevron-right {
    margin-left: 36px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.view-our-process-btn-change:hover .chevron-right {
  transform: rotate(90deg);
}

// 3- Discover more:

.discover-more-btn {
  font-family: "Montserrat", "sans-serif";
  width: 280px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 208px;
    margin-right: 25px;
  }
  .chevron-right {
    margin-left: 52px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.discover-more-btn:hover .chevron-right {
  transform: rotate(90deg);
}

.discover-more-btn-change {
  font-family: "Montserrat", "sans-serif";
  width: 280px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $bone;

  border-radius: 12px;
  border: 3px solid transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at left, $green, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;   

  &:hover {
    color: $bone;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 208px;
    margin-right: 25px;
  }
  .chevron-right {
    margin-left: 52px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.discover-more-btn-change:hover .chevron-right {
  transform: rotate(90deg);
}

// 5- Let's go:

.lets-go-btn {
  font-family: "Montserrat", "sans-serif";
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 21px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.lets-go-btn:hover .chevron-right {
  transform: rotate(90deg);
}

.lets-go-btn-change {
  font-family: "Montserrat", "sans-serif";
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $bone;

  border-radius: 12px;
  border: 3px solid transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at left, $green, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;   

  &:hover {
    color: $bone;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 21px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.lets-go-btn-change:hover .chevron-right {
  transform: rotate(90deg);
}



// Services Buttons

// 1- Back to home:
.back-home-btn {
  margin: 0 auto;
  font-family: "Montserrat", "sans-serif";
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $charcoal;
  border-radius: 12px;
  border: 3px solid $charcoal;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $charcoal;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 32px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.back-home-btn:hover .chevron-right {
  transform: rotate(90deg);
}

.back-home-btn-change {
  margin: 0 auto;
  font-family: "Montserrat", "sans-serif";
  width: 158px;
  height: 44px;
  font-size: 16px;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none!important;
  color: $bone;

  border-radius: 12px;
  border: 3px solid transparent;
  background-image: linear-gradient(black, black), radial-gradient(circle at left, $green, $orange);
  background-origin: border-box;
  background-clip: content-box, border-box;   

  &:hover {
    color: $bone;
  }
  span {
    display: flex;
    align-items: center;
  }
  .chevron-right {
    margin-left: 32px;
    margin-right: 8px;
    transform: rotate(0deg);
    transition: .6s;
    width: 12px;
    height: 24px;
  }
}

.back-home-btn-change:hover .chevron-right {
  transform: rotate(90deg);
}