@media screen and (max-width: 1039px) {
  // Tablet
  .menu-bar {
    height: 100px;
    transition: height .55s linear;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
  }

  .menu-container {
    width: 812px;
  } 

  .menu-left {
    flex-direction: column;
  }

  .navbar-brand {
    width: 200px; 
    svg {
      width: 200px; 
      height: 75px;
    }
  }

  .nav-list {
    
    opacity: 0;
    transition: opacity 1s;
    display: none;
    height : 0;
    -webkit-transition:height, 1s linear;
    -moz-transition: height, 1s linear;
    -ms-transition: height, 1s linear;
    -o-transition: height, 1s linear;
    transition: height, 1s linear;
    


    flex-direction: column;
    align-items: flex-start;
    margin-top: 58px;
    li {
      margin-bottom: 50px;
    }
  }

  .close-btn {
    display: none;
  }

  .z-index {
    z-index: 999;
  }

  .btn-displayed {
    display: block;
  }

  .btn-hiden {
    display: none;
  }

  .menu-bar.active {
    height: 100vh;
  }

  .menu-bar.active .menu-icons {
    top: 8%;
  }
  
  .menu-bar.active .nav-list {
    opacity: 1;
    display: block;
    height: 100%;
    -webkit-transition:height, 1s linear;
    -moz-transition: height, 1s linear;
    -ms-transition: height, 1s linear;
    -o-transition: height, 1s linear;
    transition: height, 1s linear;

  }

  .menu-bar.active .menu-bar {
    height: 100vh;
  }

  .navbar-brand {
    padding: 0px;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .btn-white, .btn-black {
    font-size: 18px;
  }

  .menu-icons {
    display: block;
    width: 30px;
    .menu-btn, .close-btn {
      width: 30px;
      height: 20px;
    }
  }

  .black-background {
    width: 246px;
    height: 48px;
  }

  .black-background:hover .btn-black {
    width: 240px;
    height: 42px;
  }

  .white-background {
    width: 246px;
    height: 48px;
  }

  .white-background:hover .btn-black {
    width: 240px;
    height: 42px;
  }

  @media screen and (max-width: 812px) {
    // Tablet
    .menu-container {
      width: 654px;
    }
  }

  @media screen and (max-width: 654px) {
    // Mobile
    .menu-container {
      width: 530px;
    }

    .menu-icons {
      // width: 30px;
      .menu-btn, .close-btn {
      width: 24px;
      height: 17px;
      }
    }
  }

  @media screen and (max-width: 530px) {
    // Mobile
    .menu-container {
      width: 420px;
    }

    .navbar-brand {
      width: 150px; 
      svg {
        width: 150px; 
        height: 75px;
      }
    }

    .btn-white, .btn-black {
      font-size: 16px;
    }

    .black-background {
      width: 220px;
      height: 44px;
    }

    .black-background:hover .btn-black {
      width: 214px;
      height: 38px;
    }

    .white-background {
      width: 220px;
      height: 44px;
    }

    .white-background:hover .btn-black {
      width: 214px;
      height: 38px;
    }
  }

  @media screen and (max-width: 420px) {
    // Mobile
    .menu-container {
      width: 364px;
    }

   .navbar-brand {
      svg {
        width: 150px; 
        height: 75px;
      }
    }
  }

}
