@media screen and (max-width: 1039px) {
  // Home Buttons:

  // 1- Lets talk:

  #intro .left-side {
    a {
      width: 142px;
      height: 36px;
    }
    span {
      font-size: 12px;
    }
    .chevron-right {
      width: 10px;
      height: 23px;
    }
  }

  // 2- What we do:
  // .what-we-do-btn {
  //   width: 208px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 32px;
  //   }
  // }

  // .what-we-do-btn-change {
  //   width: 208px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 32px;
  //   }
  // }

  // 3- View our process:
  // .view-our-process-btn {
  //   width: 208px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 13px;
  //   }
  // }

  // .view-our-process-btn-change {
  //   width: 208px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 13px;
  //   }
  // }

  // 4- Learn more:
  // .discover-more-btn {
  //   width: 192px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 25px;
  //   }
  // }

  // .discover-more-btn-change {
  //   width: 192px;
  //   height: 36px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 25px;
  //   }
  // }
  
  // 5- Let's go:
  // .lets-go-btn {
  //   width: 130px;
  //   height: 38px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 13px;
  //   }
  // }

  // .lets-go-btn-change {
  //   width: 130px;
  //   height: 38px;
  //   font-size: 14px;
  //   .chevron-right {
  //     width: 10px;
  //     height: 23px;
  //     margin-left: 13px;
  //   }
  // }

  @media screen and (max-width: 812px) {
    
  }

  @media screen and (max-width: 654px) {

  }

  @media screen and (max-width: 530px) {
    // Home Buttons:

    // 1- Lets talk:
    #intro .left-side {
      a {
        width: 158px;
        height: 44px;
      }
      span {
        font-size: 16px;
      }
      .chevron-right {
        width: 12px;
        height: 25px;
      }
    }

    // 2- What we do:
    // .what-we-do-btn {
    //   width: 220px;
    //    height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 25px;
    //     margin-left: 28px;
    //   }
    // }

    // .what-we-do-btn-change {
    //   width: 220px;
    //    height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 25px;
    //     margin-left: 28px;
    //   }
    // }

    // 3- View our process:
    // .view-our-process-btn {
    //   width: 220px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 6px;
    //   }
    // }

    // .view-our-process-btn-change {
    //   width: 220px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 6px;
    //   }
    // }

    // 4- Learn more:
    // .discover-more-btn {
    //   width: 220px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 31px;
    //   }
    // }

    // .discover-more-btn-change {
    //   width: 220px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 31px;
    //   }
    // }

    // 5- Let's go:
    // .lets-go-btn {
    //   width: 158px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 21px;
    //   }
    // }

    // .lets-go-btn-change {
    //   width: 158px;
    //   height: 44px;
    //   font-size: 16px;
    //   .chevron-right {
    //     width: 12px;
    //     height: 24px;
    //     margin-left: 21px;
    //   }
    // }
  }

  @media screen and (max-width: 420px) {

  }
}