// Custom Navbar:
header {
  width: 100%;
  position: fixed;
  background-color: white;
}

.menu-bar {
  width: 100%;
  height: 126px;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
}

.navbar-container {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  margin: 0px;
  img {
    width: 216px; 
    height: 66.15px;
  }
}

.menu-icons {
  position: absolute;
  top: 5%;
  right: 28px;
  cursor: pointer;
  z-index: 1500;
  display: none;
}


.nav-list {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: flex;
  align-items: center;
}


.btn-white {
  font-family: "Montserrat", "sans-serif";
  color: $charcoal;
  font-size: 14px;
  font-weight: 650;
  margin-right: 50px;
  position: relative;
  &:hover {
    color: $charcoal;
  }
}

.btn-white:after {
  content: "";
  left: 0;
  bottom: -5px;
  width: 33%;
  position: absolute;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, $green, $orange) 1;
  transition: .35s;
}

.btn-white:hover:after {
  width: 68%;
}

#black-background {
  width: 220px;
  height: 44px;
  background-color: $charcoal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  transition: .65s;
  &:hover {
    background: linear-gradient(to right, $green, $orange)
  }
}

.btn-black {
  font-size: 16px;
  font-weight: 650;
  color: white!important;
  font-size: 16px;
  width: 214px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .65s;
}

#black-background:hover .btn-black {
  background-color: white;
  color: $charcoal!important;
  font-weight: 650;
}

